# Highlighting the Maximum Value of each Column

In [1]:
import pandas as pd

In [2]:
nba = pd.read_csv('../data/nba_stats.csv')
nba.head(10)

,Year,Player,Pos,Age,Tm,MP,FT,TRB,AST,STL,BLK,TOV,PF,PTS
0,2017,Ivica Zubac,C,19,LAL,609,32,159,30,14,33,30,66,284
1,2017,Gerald Green,SF,31,BOS,538,33,85,33,9,7,25,48,262
2,2017,Danny Green,SG,29,SAS,1807,27,224,124,71,58,76,120,497
3,2017,Jerian Grant,PG,24,CHI,1028,65,111,120,47,8,44,93,370
4,2017,Jerami Grant,SF,22,OKC,1490,86,199,46,33,75,41,144,421
5,2017,Jerami Grant,SF,22,PHI,41,4,7,0,0,4,3,5,16
6,2017,Jerami Grant,SF,22,TOT,1531,90,206,46,33,79,44,149,437
7,2017,Treveon Graham,SG,23,CHO,189,10,22,6,6,1,3,18,57
8,2017,Marcin Gortat,C,32,WAS,2556,103,849,121,40,65,118,213,883
9,2017,Eric Gordon,SG,28,HOU,2323,147,201,188,48,40,121,150,1217

### take max of each column

In [3]:
nba.max()

Year                    2017
Player    Zydrunas Ilgauskas
Pos                    SG-SF
Age                       44
Tm                       WSB
MP                      3638
FT                       833
TRB                     1530
AST                     1164
STL                      301
BLK                      456
TOV                      464
PF                       386
PTS                     3041
dtype: object

### Use boolean selection

In [52]:
nba[nba['STL'] == nba['STL'].max()]

,Year,Player,Pos,Age,Tm,MP,FT,TRB,AST,STL,BLK,TOV,PF,PTS
16700,1986,Alvin Robertson,SG,23,SAS,2878,260,516,448,301,40,256,296,1392

### Use idxmax - set_index first and only numeric columns

In [4]:
nba_numeric = nba.set_index('Player').select_dtypes('number')
nba_numeric.head()

              Year  Age    MP  FT  TRB  AST  STL  BLK  TOV   PF  PTS
Player
Ivica Zubac   2017   19   609  32  159   30   14   33   30   66  284
Gerald Green  2017   31   538  33   85   33    9    7   25   48  262
Danny Green   2017   29  1807  27  224  124   71   58   76  120  497
Jerian Grant  2017   24  1028  65  111  120   47    8   44   93  370
Jerami Grant  2017   22  1490  86  199   46   33   75   41  144  421

In [5]:
idx = nba_numeric.idxmax()
idx

Year        Ivica Zubac
Age        Kevin Willis
MP       Truck Robinson
FT      Michael Jordan*
TRB      Dennis Rodman*
AST      John Stockton*
STL     Alvin Robertson
BLK          Mark Eaton
TOV        James Harden
PF       Darryl Dawkins
PTS     Michael Jordan*
dtype: object

In [6]:
nba_numeric.loc[idx]

                 Year  Age    MP   FT   TRB  AST  STL  BLK  TOV   PF   PTS
Player
Ivica Zubac      2017   19   609   32   159   30   14   33   30   66   284
Kevin Willis     2007   44    43    2     8    1    2    1    2   11    12
Kevin Willis     2005   42   344   17    76    9    8    7   15   53    87
Kevin Willis     2004   41   373   24    98   11   21    9   32   61   164
Kevin Willis     2003   40   840   51   226   24   20   20   60  120   297
Kevin Willis     2002   39   865   65   299   14   25   23   41   98   315
Kevin Willis     2001   38  1830  113   532   50   57   52   87  216   722
Kevin Willis     2001   38   771   61   223   21   19   21   40   78   309
Kevin Willis     2001   38  1059   52   309   29   38   31   47  138   413
Kevin Willis     2000   37  1679  131   482   49   36   48   98  256   604
Kevin Willis     1999   36  1216  130   350   67   28   28   86  134   504
Kevin Willis     1998   35  2528  242   679   78   55   38  170  235  1305
Kevin Willis     1997   34  1964  140   561   71   42   32  119  216   842
Kevin Willis     1996   33  2135  143   638   53   32   41  161  253   794
Kevin Willis     1996   33  1357   89   420   34   19   25   99  158   479
Kevin Willis     1996   33   778   54   218   19   13   16   62   95   315
Kevin Willis     1995   32  2390  205   732   86   60   36  162  215  1154
Kevin Willis     1995   32    89   10    36    3    1    3    7    7    42
Kevin Willis     1995   32  2301  195   696   83   59   33  155  208  1112
Kevin Willis     1994   31  2867  268   963  150   79   38  188  250  1531
Kevin Willis     1993   30  2878  196  1028  165   68   41  213  264  1435
Kevin Willis     1992   29  2962  292  1258  173   72   54  197  223  1480
Kevin Willis     1991   28  2373  159   704   99   60   40  153  235  1051
Kevin Willis     1990   27  2273  168   645   57   63   47  144  259  1006
Kevin Willis     1988   25  2091  159   547   28   68   41  138  240   871
Kevin Willis     1987   24  2626  227   849   62   65   61  173  313  1304
Kevin Willis     1986   23  2300  172   704   45   66   44  177  294  1010
Kevin Willis     1985   22  1785  119   522   36   31   49  104  226   765
Truck Robinson   1985   33    35    0     9    3    2    3    5    3     4
Truck Robinson   1984   32  2135  133   545   94   43   27  160  217   701
...               ...  ...   ...  ...   ...  ...  ...  ...  ...  ...   ...
James Harden     2010   20  1738  194   244  137   80   20  106  200   753
Darryl Dawkins   1989   32    48    9     7    1    0    1    4   13    27
Darryl Dawkins   1988   31    33    6     5    2    0    2    7   14    10
Darryl Dawkins   1988   31    26    4     5    1    0    1    4   10     6
Darryl Dawkins   1988   31     7    2     0    1    0    1    3    4     4
Darryl Dawkins   1987   30   106   17    19    2    2    3   15   25    57
Darryl Dawkins   1986   29  1207  210   251   77   16   59  124  227   778
Darryl Dawkins   1985   28   972  143   181   45   14   35   93  171   527
Darryl Dawkins   1984   27  2417  341   541  123   60  136  231  386  1357
Darryl Dawkins   1983   26  2093  166   420  114   67  152  281  379   968
Darryl Dawkins   1982   25  1124  114   305   55   19   55   96  193   528
Darryl Dawkins   1981   24  2088  219   545  109   38  112  220  316  1065
Darryl Dawkins   1980   23  2541  190   693  149   49  142  230  328  1178
Darryl Dawkins   1979   22  2035  158   631  128   32  143  197  295  1018
Darryl Dawkins   1978   21  1722  156   555   85   34  125  123  268   820
Michael Jordan*  2003   39  3031  266   497  311  123   39  173  171  1640
Michael Jordan*  2002   38  2093  263   339  310   85   26  162  119  1375
Michael Jordan*  1998   34  3181  565   475  283  141   45  185  151  2357
Michael Jordan*  1997   33  3106  480   482  352  140   44  166  156  2431
Michael Jordan*  1996   32  3090  548   543  352  180   42  197  195  2491
Michael Jordan*  1995   31   668  109   117   90   30   13   35   47   457
Michael Jordan*  1993   29  3067  476   522  428  221   61  207  188  2541
Michael Jordan*  1992   28  3102  491   511  489  182   75  200  201  2404
Michael Jordan*  1991   27  3034  571   492  453  223   83  202  229  2580
Michael Jordan*  1990   26  3197  593   565  519  227   54  247  241  2753
Michael Jordan*  1989   25  3255  674   652  650  234   65  290  247  2633
Michael Jordan*  1988   24  3311  723   449  485  259  131  252  270  2868
Michael Jordan*  1987   23  3281  833   430  377  236  125  272  237  3041
Michael Jordan*  1986   22   451  105    64   53   37   21   45   46   408
Michael Jordan*  1985   21  3144  630   534  481  196   69  291  285  2313

[146 rows x 11 columns]

In [7]:
nba_numeric = nba.set_index(['Player', 'Year']).select_dtypes('number')
nba_numeric.head()

                   Age    MP  FT  TRB  AST  STL  BLK  TOV   PF  PTS
Player       Year
Ivica Zubac  2017   19   609  32  159   30   14   33   30   66  284
Gerald Green 2017   31   538  33   85   33    9    7   25   48  262
Danny Green  2017   29  1807  27  224  124   71   58   76  120  497
Jerian Grant 2017   24  1028  65  111  120   47    8   44   93  370
Jerami Grant 2017   22  1490  86  199   46   33   75   41  144  421

In [8]:
idx = nba_numeric.idxmax().drop_duplicates()
idx

Age       (Kevin Willis, 2007)
MP      (Truck Robinson, 1978)
FT     (Michael Jordan*, 1987)
TRB     (Dennis Rodman*, 1992)
AST     (John Stockton*, 1991)
STL    (Alvin Robertson, 1986)
BLK         (Mark Eaton, 1985)
TOV       (James Harden, 2017)
PF      (Darryl Dawkins, 1984)
dtype: object

In [9]:
nba_idx_max = nba_numeric.loc[idx]
nba_idx_max

                      Age    MP   FT   TRB   AST  STL  BLK  TOV   PF   PTS
Player          Year
Kevin Willis    2007   44    43    2     8     1    2    1    2   11    12
Truck Robinson  1978   26  3638  366  1288   171   73   79  301  265  1862
Michael Jordan* 1987   23  3281  833   430   377  236  125  272  237  3041
Dennis Rodman*  1992   30  3301   84  1530   191   68   70  140  248   800
John Stockton*  1991   28  3103  363   237  1164  234   16  298  233  1413
Alvin Robertson 1986   23  2878  260   516   448  301   40  256  296  1392
Mark Eaton      1985   28  2813  190   927   124   36  456  206  312   794
James Harden    2017   27  2947  746   659   906  120   37  464  215  2356
Darryl Dawkins  1984   27  2417  341   541   123   60  136  231  386  1357

### Use style attribute

In [10]:
nba_idx_max.style.highlight_max()